<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h5>Filtros</h5>
        </div>
        <div class="card-body card-info">
          <form>
            <div class="form-group">
              <label for="nome">Nome</label>
              <input
                class="form-control"
                name="nome"
                [(ngModel)]="seletor.nome"
              />
              <label for="nomeFabricante">Fabricante</label>
              <input
                class="form-control"
                name="nomeFabricante"
                [(ngModel)]="seletor.nomeFabricante"
              />
            </div>

            <br />
            <div class="form-group col-md-3">
              <button
                type="submit"
                class="form-control btn btn-primary"
                (click)="pesquisar()"
              >
                Pesquisar
              </button>
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="form-control btn btn-danger"
                (click)="limpar()"
              >
                Limpar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header bg-warning text-black">
          <h5>Lista de Produtos</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Fabricante</th>
                  <th scope="col" class="text-center">Valor</th>
                  <th scope="col" class="text-center">Data de Cadastro</th>
                  <th clas="text-center">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of produtos">
                  <td>{{ p.id }}</td>
                  <td>{{ p.nome }}</td>
                  <td>{{ p.fabricanteDoProduto.nome }}</td>
                  <td class="text-center">{{ p.valor | currency : "BRL" }}</td>
                  <td class="text-center">
                    {{ p.dataCadastro | date : "dd/MM/yyyy" }}
                  </td>
                  <td class="text-center">
                    <button
                      type="submit"
                      title="Editar"
                      class="btn btn-xs btn-secondary mr-12"
                      (click)="editar(p.id)"
                    >
                      Editar
                    </button>
                    &nbsp;
                    <button
                      type="submit"
                      title="Excluir"
                      class="btn btn-xs btn-danger"
                      (click)="excluir(p.id)"
                    >
                      Excluir
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
